@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");

body {
  font-family: Arima Madurai;
}

.fontz {
  font-family: Arima Madurai;
}

.img-thumbnail {
  height: 80px;
  width: 90px;
}
